{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}
<section class="accounting">
    <h1>Outstandings</h1>
    <div class="container">
        <a href="{% url 'appointment:outstanding-create' %}" class="btn btn-primary">
            Create Outstandings
        </a>
        <table class="table table-striped table-hover table-respes">
            <thead>
                <th scope="col">Date</th>
                <th scope="col">Patient Name</th>
                <th scope="col">Paid</th>
                <th scope="col">Type</th>
                <th scope="col">Outstanding</th>
                <th scope="col">Total</th>
                <th scope="col">Update</th>
                <th scope="col">Remove</th>
            </thead>
            {% for obj in payment_ind %}
            <tr>
                <td data-label="Date">{{ obj.date }}</td>
                <td data-label="Patient Name">{{ obj.patient }}</td>
                <td data-label="Paid">{{ obj.paid }}</td>
                <td data-label="Type">Individual</td>
                <td data-label="Outstanding">{{ obj.outstanding }}</td>
                <td data-label="Total">{{ obj.total }}</td>
                <td data-label="Update"><a href="{% url 'appointment:outstanding-profile-pk' pk=obj.id %}"><button class="btn btn-info">Update</button></a></td>
                <td data-label="Remove"><a href="{% url 'appointment:outstanding-profile-delete' pk=obj.id %}"><button class="btn btn-danger">Delete</button></a></td>
            </tr>
            {% endfor %}
            {% for obj in payment_cons %}
            <tr>
                <td data-label="Date">{{ obj.date }}</td>
                <td data-label="Patient Name">{{ obj.patient }}</td>
                <td data-label="Paid">{{ obj.paid }}</td>
                <td data-label="Type">Consulting</td>
                <td data-label="Outstanding">{{ obj.outstanding }}</td>
                <td data-label="Total">{{ obj.total }}</td>
                <td data-label="Update"><a href="{% url 'appointment:outstanding-profile-pk' pk=obj.id %}"><button class="btn btn-info">Update</button></a></td>
                <td data-label="Remove"><a href="{% url 'appointment:outstanding-profile-delete' pk=obj.id %}"><button class="btn btn-danger">Delete</button></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
{% endblock %}
