{% extends "base.html" %}
{% load bootstrap3 %}


{% block content %}
<section class="appointment res-sec">
    <h1>Your Appointments</h1>
    <div class="container">
        <div>
            {% if user.is_patient %}
            <table class="table table-striped table-hover table-respes">
                <thead>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Consulting Doctor</th>
                    <th scope="col">Status</th>
                </thead>
                {% for obj in object_list %}
                <tr>
                    <td data-label="Date">{{ obj.date }}</td>
                    <td data-label="Time">{{ obj.time }}</td>
                    <td data-label="Doctor">{{ obj.doctor }}</td>
                    <td data-label="Status">{{ obj.status }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
            {% if user.is_doctor %}
            <table class="table table-striped table-hover table-respes">
                <thead>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Patient Info</th>
                    <th scope="col">Status</th>
                </thead>
                {% for obj in object_list %}
                <tr>
                    <td data-label="Date">{{ obj.date }}</td>
                    <td data-label="Time">{{ obj.time }}</td>
                    <td data-label="Patient Info">{{ obj.patient }}</td>
                    <td data-label="Status">{{ obj.status }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>  
    </div>
</section>
{% endblock %}