{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}
<section class="dashboard">
    <h1>Dashboard</h1>
    <div class="container">
        <div class="row bbox">
            <div class="col-md-4 bbox--1">
                <span class="head-spn">Total Doctors</span> - {{ totalDoc }}
            </div>
            <div class="col-md-4 bbox--2">
                <span class="head-spn">Total Patients</span> - {{ totalPat }}
            </div>
            <div class="col-md-4 bbox--3">
                <span class="head-spn">On Duty Doctors</span> - {{ ondutyDoc }}
            </div>
        </div>
    </div>
    <h2>Doctors</h2>
    <div class="container">
        <table class="table table-hover table-striped table-respes--big">
            <thead>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Gender</th>
                <th scope="col">Age</th>
                <th scope="col">Status</th>
                <th scope="col">Department</th>
                <th scope="col">Attendance</th>
                <th scope="col">Salary</th>
                <th scope="col">Update</th>
                <th scope="col">Remove</th>
            </thead>
            {% for obj in doc_list %}
            <tr>
                <td data-label="Name">{{ obj.name }}</td>
                <td data-label="Phone">{{ obj.phone }}</td>
                <td data-label="Email">{{ obj.email }}</td>
                <td data-label="Gender">{{ obj.gender }}</td>
                <td data-label="Age">{{ obj.age }}</td>
                <td data-label="Status">{{ obj.status }}</td>
                <td data-label="Department">{{ obj.department }}</td>
                <td data-label="Attendance">{{ obj.attendance }}</td>
                <td data-label="Salary">{{ obj.salary }}</td>
                <td data-label="Update"><a href="{% url 'user_profile:doc-profile-pk' pk=obj.user.id %}"><button class="btn btn-info">Update</button></a></td>
                <td data-label="Remove"><a href="{% url 'user_profile:doc-profile-delete' pk=obj.user.id %}"><button class="btn btn-danger">Delete</button></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
{% endblock %}
