{% extends "base.html" %}

{% block content %}

<section class="prescription">

    {% if user.is_patient %}
        <h1>Your Medical History</h1>
    {% endif %}
    {% if user.is_doctor %}
        <h1>Your Prescriptions</h1>
    {% endif %}

    <div class="container">
        {% if user.is_patient %}
        <div class="page-contain">
            {% for obj in object_list %}
            <div class="data-card">
                <h3>{{ obj.date }}</h3>
                <h4>Patient Name - {{ obj.patient }}</h4>
                <p>Symptoms - {{ obj.symptoms }}</p>
                <p>Prescription - {{ obj.prescription }}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if user.is_doctor %}
        <a class="btn btn-primary pull-right" href="{% url 'appointment:doc-prescriptions-create' %}">
            Create New Prescription
        </a>
        <div class="page-contain">
            {% for obj in object_list %}
            <div class="data-card">
                <h3>{{ obj.date }}</h3>
                <h4>Patient Name - {{ obj.patient }}</h4>
                <p>Symptoms - {{ obj.symptoms }}</p>
                <p>Prescription - {{ obj.prescription }}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

</section>
{% endblock %}