{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}

<section class="appointment">
    <h1>Profile for {{ user.first_name }} {{ user.last_name }}</h1>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="profile-pic">
                <label class="-label" for="id_med_reps">
                    <span style="margin-top: 8px;" class="fal fa-camera-retro"></span>
                    <span>Change Image</span>
                </label>
                <input type="file" class="form-control" onchange="loadFile(event)" id="id_med_reps" name="med_reps" accept="image/*"/>
                {% if dup.med_reps is not defined  %}
                    <img src="/media/images/default.png" id="output" width="200" />
                {% else %}
                    <img src="{{ dup.med_reps.url }}" id="output" width="200" />
                {% endif %}
            </div>
            <div class="form-group">
                <label class="control-label" for="id_name">Name</label>
                <input type="text" name="name" value="{{ user.first_name }} {{ user.last_name }}" maxlength="50" class="form-control" placeholder="Name" title="" required="" id="id_name">
            </div>
            <div class="form-group">
                <label class="control-label" for="id_phone">Phone</label>
                <input type="text" name="phone" value="{{ dup.phone }}" maxlength="17" class="form-control" placeholder="Phone" title="" id="id_phone">
            </div>
            <div class="form-group">
                <label class="control-label" for="id_email">Email</label>
                <input type="email" value = "{{ dup.email }}" name="email" maxlength="254" class="form-control" placeholder="Email" title="" id="id_email">
            </div>
            {% if type == "user" %}
                <div class="form-group">
                    <div class="custom-file">
                        <label class="control-label form-label" for="id_med_reps">Med reps</label>
                        <input type="file" class="form-control" name="med_reps" id="id_med_reps" autocompleted="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="id_case_paper">Case paper</label>
                    <input type="number" name="case_paper" value={{dup.case_paper}} class="form-control" placeholder="Case paper" title="" id="id_case_paper">
                </div>
            {% endif %}
            <div class="form-group">
                <label class="control-label" for="id_gender_0">Gender</label>
                <div id="id_gender_type">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" type="radio" name="gender" value="M" class="" title="" required="" style="border: 1px solid rgba(0,0,0,.25) !important;" id="id_gender_type_0" checked/>
                        <label class="form-check-label" for="id_gender_0">
                            Male
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" type="radio" name="gender"  value="F" class="" title="" required="" style="border: 1px solid rgba(0,0,0,.25) !important;" id="id_gender_1" />
                        <label class="form-check-label" for="id_gender_1">
                            Female
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" type="radio" name="gender"  value="O" class="" title="" required="" style="border: 1px solid rgba(0,0,0,.25) !important;" id="id_gender_2" />
                        <label class="form-check-label" for="id_gender_2">
                            Other
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="id_age">Age</label>
                <input type="number" name="age" class="form-control" value={{ dup.age}} placeholder="Age" title="" id="id_age">
            </div>
            <div class="form-group">
                <label class="control-label" for="id_address">Address</label>
                <input type="text" name="address" maxlength="500" value="{{dup.address}}" class="form-control" placeholder="Address" title="" id="id_address">
            </div>
            <div class="form-group">
                <label class="control-label" for="id_blood_group">Blood group</label>
                <select name="blood_group" class="form-select" aria-label="Select Blood group" title="" id="id_blood_group">
                    <option value="O-">O-</option>
                    <option value="O+">O+</option>
                    <option value="A-">A-</option>
                    <option value="A+">A+</option>
                    <option value="B-">B-</option>
                    <option value="B+">B+</option>
                    <option value="AB-">AB-</option>
                    <option value="AB+">AB+</option>
                </select>
            </div>
            {% if type == "doctor" %}
                <div class="form-group">
                    <label class="control-label" for="id_status">Status</label>
                    <select name="status" class="form-select" aria-label="Select Blood group" title="" id="id_status">
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                </div>
            {% endif %}
            <input type="submit" value="Update" class="sgn--btn btn">
        </form>
    </div>
</section>

{% endblock %}