{% extends "base.html" %}
{% load bootstrap3 %}


{% block content %}
<div class="container" style="margin-top: 6rem">
    <div class="card">
        <div class="card-header">
            User Option
        </div>
        <div class="card-body">
            <h2 class="card-title" style="text-align: center;">Are you sure you want to delete {{ user.username }} profile?</h2>
            <form method="POST" style="display: flex;align-items: center;justify-content: space-evenly;margin-top: 2rem;">
                <a href="{% url 'appointment:hr_dashboard %}" class="btn btn-warning">
                    Cancel
                </a>
                {% csrf_token %}
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
    </div>
</div>
{% endblock %}
