.about-us h1{
  text-align: center;
  margin-bottom: 50px;
}

.about-main{
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 2px 15px 0px rgb(0 0 0 / 15%);
  padding: 50px;
  background: #fff;
}

.cont-head{
  text-align: left;
  color: var(--blue);
}

.about--p{
  text-align: left;
}

.about-us{
  margin-bottom: 50px;
}

.about--p strong{
  color: #4c9afe;
  font-weight: 400;
  font-size: 19px;
}

@media (max-width: 768px)
{
  .cont-head{
    text-align: center;
  }

  .about--p{
    text-align: center;
  }
}