.accounting {
  margin-top: 10px;
}

.accounting h1 {
  text-align: center;
  margin-top: 100px !important;
  text-transform: capitalize;
}


@media (max-width: 992px) {
    .accounting {
        margin-top: 8rem;
    }
}