.appointment {
  margin-top: 10px;
}

.appointment h1 {
  text-align: center;
  margin-top: 100px !important;
  text-transform: capitalize;
}

table {
  margin-top: 22px;
}

thead {
  background-color: #0188df;
  color: white;
}

thead th {
  font-weight: 500;
}

/* ---------------------------------------------------------------- */
.table-respes {
  width: 100%;
}

.table-respes caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}


@media screen and (max-width: 600px) {
  .table-respes {
    border: 0;
  }

  .table-respes caption {
    font-size: 1.3em;
  }

  .table-respes thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .table-respes tr {
    display: block;
    margin-bottom: 0.625em;
  }

  .table-respes td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .table-respes td::before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
  }

  .table-respes td:last-child {
    border-bottom: 0;
  }
}
/* ------------------- */

@media (max-width:992px)
{
    .res-sec{
        margin-top:6rem;
    }
}