{% extends "base.html" %}
{% load static %}
{% block content %}

{% if message != None %}
    <div class="alertss">
        <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
                <i class="fad fa-check" id="suc-log"></i>
                <span class="me-auto">Message sent successfully {{ message }}</span>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" id="tst-hid" style="position: absolute; right: 20px;"></button>
            </div>
        </div>
    </div>
{% endif %}

<section class="contact-us">
    <h1>contact us</h1>
    <div class="container form-cont" data-aos="fade-in">
        <div class="row" style="flex-direction: row-reverse;">
            <div class="col-md-4">
                <img src="{% static 'images/cont-us-icon.svg' %}" alt="">
            </div>
            <div class="col-md-8">
                <form id="contactForm" name="contactForm" class="contactForm needs-validation" novalidate method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label" for="name">Full Name</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Name" aria-invalid="true" required>
                                <div class="valid-feedback form--feed">
                                    Name is Valid
                                </div>
                                <div class="invalid-feedback form--feed">
                                    Please choose a name
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label" for="email">Email Address</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email" aria-invalid="true" required>
                                <div class="valid-feedback form--feed">
                                    Email is Valid
                                </div>
                                <div class="invalid-feedback form--feed">
                                    Email is inValid
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="label" for="subject">Subject</label>
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" aria-invalid="true" required>
                                <div class="valid-feedback form--feed">
                                    Enter a subject
                                </div>
                                <div class="invalid-feedback form--feed">
                                    Subject is Valid
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="label" for="#">Message</label>
                                <textarea name="message" style="height: 6rem" class="form-control" id="message" cols="30" rows="4"  placeholder="Message" required></textarea>
                                <div class="valid-feedback form--feed">
                                    Message is Proper
                                </div>
                                <div class="invalid-feedback form--feed">
                                    Please enter a message
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group sbn--btn">
                                <input type="submit" value="Send Message" class="btn">
                                <div class="submitting"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer data-aos="fade-down">
    <div class="footer-content">
        <h1>Hospital Management</h1>
        <p>To ensure accessible and affordable quality healthcare by compassionate medical professionals to all. To be the centre of excellence for medical research and academics. To cultivate an environment of trust, honesty, mutual respect, equality, and ethics.</p>
        <ul class="socials">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2021 Hospital team. designed by Manish, Jayesh & Jigar</p>
    </div>
  </footer>
{% endblock %}