{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">

  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand d-flex align-items-center brand" href="{% url 'account:home' %}" class="logo">
            <span>H</span>ealth<span>C</span>are
          </a>
          </a>
          <button class="navbar-toggler navbar-toggler-right border-0 collapsed" type="button" data-toggle="collapse"
            data-target="#navbar4">
            <i class="toogle--icon fal fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbar4">
            <ul class="navbar-nav head--item">
              {% if user.is_authenticated %}
              {% if user.is_doctor %}
              <!-- doctor's dashboard -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:home' %}" class="btn btn-simple">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:about-us' %}" class="btn btn-simple">
                  About Us
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:contact' %}" class="btn btn-simple">
                  Contact
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user_profile:profile' %}" class="btn btn-simple">
                  Profile
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'appointment:doctor-appointments' %}" class="btn btn-simple">
                  Appointments
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'appointment:doc-prescriptions' %}" class="btn btn-simple">
                  Prescriptions
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:logout' %}" class="btn btn-simple">
                  Log Out
                </a>
              </li>
              {% endif %}
              {% if user.is_patient %}
              <!-- patient's dashboard -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:home' %}" class="btn btn-simple">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:about-us' %}" class="btn btn-simple">
                  About Us
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:contact' %}" class="btn btn-simple">
                  Contact
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'appointment:patient-appointments' %}" class="btn btn-simple">
                  Your Appointment's
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'appointment:pat_payments' %}" class="btn btn-simple">
                  Invoices and Payments
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user_profile:profile' %}" class="btn btn-simple">
                  Profile
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'appointment:med-history' %}" class="btn btn-simple">
                  Medical History
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:logout' %}" class="btn btn-simple">
                  Log Out
                </a>
              </li>
              {% endif %}
              {% if user.is_receptionist %}
              <!-- receptionist's dashboard -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:home' %}" class="btn btn-simple">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:about-us' %}" class="btn btn-simple">
                  About Us
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:contact' %}" class="btn btn-simple">
                  Contact
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'appointment:r_dashboard' %}" class="btn btn-simple">
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:logout' %}" class="btn btn-simple">
                  Log Out
                </a>
              </li>
              {% endif %}
              {% if user.is_HR %}
              <!-- HR's dashboard -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:home' %}" class="btn btn-simple">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:about-us' %}" class="btn btn-simple">
                  About Us
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:contact' %}" class="btn btn-simple">
                  Contact
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'appointment:hr_dashboard' %}" class="btn btn-simple">
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'appointment:hr_accounting' %}" class="btn btn-simple">
                  Accounting
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:logout' %}" class="btn btn-simple">
                  Log Out
                </a>
              </li>
              {% endif %}
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:home' %}" class="btn btn-simple">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:about-us' %}" class="btn btn-simple">
                  About Us
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:contact' %}" class="btn btn-simple">
                  Contact
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:signup' %}" class="btn btn-simple">
                  Register
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:login' %}" class="btn btn-simple">
                  Log In
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    {% block content %}

    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="{% static 'js/homepage.js' %}"></script>


    <script>
      AOS.init({
        duration: 1000,
        delay: 400
      });
    </script>

  </body>

</html>